@font-face {
    font-family: 'Ogg-Roman';
    src:url('/font/Ogg-Roman.ttf') format('truetype'),
        url('2596224269750e00c3ad5356299a3b9f.eot') format('embedded-opentype'),
        url('2596224269750e00c3ad5356299a3b9f.svg') format('svg'),
        url('2596224269750e00c3ad5356299a3b9f.ttf') format('truetype'),
        url('2596224269750e00c3ad5356299a3b9f.woff') format('woff'),
        url('2596224269750e00c3ad5356299a3b9f.woff2') format('woff2');
   }

@font-face {
    font-family: 'Ogg Roman';
    src: url('2596224269750e00c3ad5356299a3b9f.eot'); /* IE9*/
    src: url('2596224269750e00c3ad5356299a3b9f.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('2596224269750e00c3ad5356299a3b9f.woff2') format('woff2'), /* chrome、firefox */
            url('2596224269750e00c3ad5356299a3b9f.woff') format('woff'), /* chrome、firefox */
            url('2596224269750e00c3ad5356299a3b9f.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url('2596224269750e00c3ad5356299a3b9f.svg#Ogg Roman') format('svg'); /* iOS 4.1- */
}
@font-face {
    font-family: "Ogg"; 
    src: url("//db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.eot"); 
    src: url("//db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/2596224269750e00c3ad5356299a3b9f.svg#Ogg") format("svg"); 
}

*{
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #102838;
    color : #DAA160;
}@media(max-width: 751px){
    body {
        align-items: stretch;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    margin-top: 50px;
    width: 1000px;
    border-left: 1px solid #DAA160;
    border-right: 1px solid #DAA160;
} @media (max-width: 1024px) {
    .container {
        margin-top: 00px;
        width : auto;
        border: none;
    }   
}


h3{
    text-align: center;
}

input {
    border: 0;
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    width: 318px;
    max-width: 318px;
    height: 40px;
    border-radius: 7px;
    background-color: #0C1D28 !important;
    margin: 0 0 0 20px;
    color: #DAA160;
    outline: none !important;
}

textarea {
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    padding: 10px;
    line-height: 1.5;
    border-radius: 7px;
    background-color: #02111C;
    color: #DAA160;
    border: 0px solid #DAA160;
    outline: none !important;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    resize: none;
}
 .sendComment {
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    padding: 10px;
    line-height: 1.5;
    height: 80px;
    box-sizing: border-box;
}

/* <select> styles */
select {
   /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
   /* Personalize */
    width: 2em;
    height:  40px;
    padding: 0 1em 0 1em;
    background:  linear-gradient(to left, #02111C 3em, #DAA160 3em);
    color: #DAA160;
    cursor: pointer;
   /* <option> colors */
   /* Remove focus outline */
   /* Remove IE arrow */
   border-radius: 7px;
}
select option {
    color: inherit;
    outline: none;
    background-color: #02111C;
}
select:focus {
    outline: none;
}
select::-ms-expand {
    display: none;
}


html {
    height: 100%;
}

.iconCover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    top: 23px;
    left: 25%;
    text-transform: uppercase;
    height: 50px;
    width: 50px;
    border-radius: 44px;
    border: 1px solid #DAA160;
    background-color: #0C1D28;
    box-shadow: 0px 3px 6px #00000029;
}

.iconCover .iconCoverSVG {
    width: 60%;
    height: 60%;
}
.iconCover .photoUpload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.textarea {
    width: 90%;
}

@media (max-width: 766px) {
    .iconCover {
        left: 15%;    
    }
}
input[value] {
    font-family: 'Ogg', 'Ogg-Roman', 'Ogg Roman', serif;
    box-sizing: border-box;
    padding: 0px 20px;
}

label{
    font-family: 'Ogg','Ogg-Roman', 'Ogg Roman', serif;
    display: block;
    margin-left: 25px;
}

h2 {
    font-family: 'Ogg', 'Ogg-Roman', 'Ogg Roman', serif;
    font-size : 20pt;
}

a {
    text-decoration: transparent;
    color: #DAA160;
}


.img {
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    width: 100%;
    height: 30%;
    top: 0;
    z-index: 600;
}

.myCover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 350px;
    border-bottom: 1px solid #DAA160;
    text-align: center;
    box-shadow: 0px 3px 6px #00000029; 
    border-radius:  0pt 0pt 27pt 27pt;
    margin-bottom: 50px;
} 
@media (max-width : 751px) {
    .myCover {
        height: 200px;
        background-position: top;
    }
}

.gradient {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    background: rgba(21,27,32,0.5);
    background: linear-gradient(180deg, rgba(187,99,62,0) 0%, rgba(12,29,40,1) 100%);
    border-radius: 0pt 0pt 27pt 27pt;
}

.selectBase {
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 96px;
    width: 96px;
    margin: 10px;
    /* padding-bottom: 5px; */
    font-size: 13px;
    border-radius: 27px;
    border: 1px solid #DAA160;
    background-color: #0C1D28;
    box-shadow: 0px 3px 6px #00000029;
}

.active {
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    color : #0C1D28;
    background-color: #DAA160;
    border: 1px solid #DAA160;
}

button{
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    width: 150px;
    height: 40px;
    margin: 20px;
    border-radius: 7px;
    background-color: #0C1D28;
    color: #DAA160;
    border: 0px solid #DAA160;  
    box-shadow: 0px 3px 6px #00000029;
    outline: none !important;
    cursor: pointer;
}

.addInput {
    width: auto;
    background: transparent;
    box-shadow: 0px 0px 0px #00000000;
    display: flex;
    align-items: center;
}

.userCard{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 27px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #DAA160;
    object-fit: cover;
    margin: 20px;
}
.userCard > span {
    font-size: 27px;
}

.iconCircle{
    height: 44px;
    width: 44px;
    border-radius: 44px;
    border: 1px solid #DAA160;
    background-color: #0C1D28;
    box-shadow: 0px 3px 6px #00000029;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconCircleSend{
    height: 60px;
    width: 60px;
    border-radius: 44px;
    border: 1px solid #DAA160;
    background-color: #0C1D28;
    box-shadow: 0px 3px 6px #00000029;
    margin: 20px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whichBase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 387px;
    height: 500px;
}
.row{
    margin: -20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}


#insertCocktail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.selectBase input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s; 
}

.card-label{
    font-family: "ogg", serif;
    color: #DAA160;
    text-align: center;   
}

svg{
    overflow: visible;
    cursor: pointer;
}

svg,
#addItem,
#liquor, 
#remove
{ 
    stroke: #DAA160;
    fill: transparent;
    stroke-width: 15px;
}

#beer{
    fill: #DAA160;
    stroke-width: 0px;
}

#slideIn {
    height: 30px;
    width: 30px;
    fill: #DAA160;
    stroke-width: 0px;
}

#wine, .wine {
    stroke:#DAA160;
    fill: transparent;
    stroke-width:1px;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}

#edit{ 
    fill: transparent;
    stroke-width: 1px;
}

#home,
#getCocktail,
#listCocktail,
#connexion,
#favorite,
#print{
    stroke: #DAA160;
    stroke-width: 1px;
    height: 30px;
    width: 40px;
    transition: 0.3s; 
}
#favorite{
    transition: 0.3s; 
}

#favorite:focus{
    fill: #DAA160;
}

#getCocktail {
    display: none;
}
@media (max-width: 1024px) {
    #getCocktail {
        display: block;
    }
    .print{
        display: none;
    }
}



#whiskey, 
#gin, 
#vodka,
#cognac,
#rhum,
#champagne,
#noAlcool,
#addItem,
#myLogo,
#embleme,
#smartphone,
#sendIt{
    fill:#DAA160;
    stroke-width: 0px;
}

#filter {
    position: absolute;
}

.veryAll{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.allButtons{
    display: flex;
    align-self: center;
    align-items: center;
    position: relative;
    margin-bottom: -20px;
}

#deleteThis{
    stroke-width: 0px;
    fill: #DAA160;
}
.deleteComplet{
    position: relative;
    margin-bottom: 50px;
}
@media (max-width:751px) {   
    .veryAll{
        margin-bottom: 50px;
    }
}

.remove {
    height: 40px;
    width: 40px;
    margin-left: 1px;
    box-shadow: 0px 0px 0px transparent;
    background-color: transparent;
    cursor: pointer;
}
#remove {
        height: 30px;
        width: 30px;
        stroke: #DA6060;
        fill:#DA6060;
        margin-top: 5px;
        stroke-width: 0.5px;
}

#close {
    stroke: #DA6060;
    fill:transparent ;
    stroke-width: 1px;
    cursor: pointer;
}

/*Click card bg color*/
.container input:checked ~ .custom-checkbox{
    background-color: #DAA160;
    padding: 0px;
}
/*Click card bg color*/
.container input:checked ~ .custom-checkbox {
    background-color: #DAA160;
    padding: 0px;
}

/*Label color change*/
.container input:checked ~.custom-checkbox .card-label{
    color: #02111C;  
}

/*SVG bounce checked animation*/
.container input:checked ~.custom-checkbox svg,
.container input:checked ~.custom-checkbox #liquor,
.container input:checked ~.custom-checkbox #wine,
.container input:checked ~.custom-checkbox .wine{
    stroke: #02111C;
}
/*SVG bounce checked animation*/
.container input:checked ~.custom-checkbox #whiskey,
.container input:checked ~.custom-checkbox #gin,
.container input:checked ~.custom-checkbox #cognac,
.container input:checked ~.custom-checkbox #rhum,
.container input:checked ~.custom-checkbox #champagne,
.container input:checked ~.custom-checkbox #noAlcool,
.container input:checked ~.custom-checkbox #beer,
.container input:checked ~.custom-checkbox #vodka{
    fill: #02111C;
}
.container input:checked ~.favorite-checkbox #favorite {
    fill: #DAA160;
    background-color:transparent;
}
/*Click card bg color*/
.container input:checked ~ .favorite-checkbox {
    background-color: transparent;
    padding: 0px;
    border-radius: 90px;
    display: flex;
    align-items: center;
    align-self: center;
    
}
.favorite-checkbox {
    display: flex;
    align-items: center;
    align-self: center;
    transition: 0.3s; 
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #DAA160;
    width: 100%;
    height: 77px;
    background-color: #102838;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 9000;
}

.myLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 75%;
    width: 250px;
}

.entete {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
}
#embleme {
    cursor: unset;
    height: 200px;
    margin-bottom: 30px;
}
@media (max-width: 1024px) {
    .entete {
        margin-top: 100px;
    }
}
@media (max-width: 751px) {
    .entete {
        display: none;
    }
}

.userAction {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 250px;
}

.searchInput {
    display: flex;
    align-items: center;
    position: relative;
}

#filter{
    display: inline-block;
    fill:#DAA160;
    stroke-width: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center; 
} @media (max-width: 1024px) {
    .search {
        display: none;
    }
}

.searchTerm {
    width: 100%;
    border-right: none;
    border-radius: 7px 0 0 7px;
    padding-left: 7px;
}
.searchButton {
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.userAction a {
    display: flex;
    justify-content: flex-start;
    background-color: #0C1D28;
    height: 40px;
    border-end-end-radius: 7px;
    border-top-right-radius: 7px;
    color: #DAA160;
    border: 0px solid #DAA160;  
    outline: none !important;
    cursor: pointer;
}
.nav > a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    height: 40px;
    border-end-end-radius: 7px;
    border-top-right-radius: 7px;
    color: #DAA160;
    border: 0px solid #DAA160;  
    outline: none !important;
    cursor: pointer;
}

@media (min-width: 752px) {
    .navbar {
        top : 0px;
    }
    .myLogoMobile{
        top: 20px;
    }
}
@media (max-width : 751px) {    
    .navbar {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-top-left-radius: 27px;
        border-top-right-radius: 27px;
        border-bottom: 0px solid #DAA160;
        border-top: 1px solid #DAA160;
        bottom: 0px;
        background-color: #0C1D28;
        box-shadow: 0px -3px -6px #00000029;
    }
    .nav {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-around;
        width: 100vw;
    }
    .myLogo{
        display: none;
    }
    #myLogo{
        position: fixed;
        top : 10px;
        width: 90%;
        margin-bottom: 10px;
    }
} @media (max-width: 1023px) {
    .search {
        display: none;
    }
}

.thoseIngredients {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 25%;
    background-color: #0C1D28;
    border-radius: 27px;
    border: 1px solid #DAA160;
    padding: 10px;
    box-sizing: border-box;
}    .thoseIngredients  h3 {
    position: relative;
    top:-30px;
} 
.slideIn{
    display: none;
}

@media (max-width: 751px) {
    .thoseIngredients {
        position: fixed;
        z-index: 150;
        width: 250px;
        top : 30%; 
        left: -225px;
        /* left: 25%; */
    }
    .slideIn{
        display: flex;
        height: 40px;
        width: 40px;
        right: -40px;
        z-index: 1503;
        position: absolute;
        transform: rotate(180deg);
        cursor: pointer;
        transition: 0.5s;
    }
}


.thoseSteps{
    width: 60%;
}
@media (max-width: 751px) {
    .thoseSteps {
        width: 75%;
        margin-right: 10px ;
        margin-left: 50px;
    } h3{
        font-size: 15px;
    }
}
.unvariable {
    color: #585243;
} 
.author {
    color: #DAA160;
}

.newSection{
    display: flex;
    align-items: center;
    /* margin-top: 50px;     */
}
.sectionTitle {
    width: 70px;
    height: 2px;
    background-color: #DAA160;
    margin-right: 5px ;
}
.thoseComments {
    margin-top:50px;  
    width: 100%;
    background-color: #0C1D28;
    padding-bottom: 100px;
}
.thoseComments > .addInput{
    position: relative;
    left : 80%;
    top : -39px;
    margin-bottom: -20px;
    /* display: none; */
}

.commentThis {
    display: flex;
    align-items: center;
}
@media (max-width: 751px) {
    .thoseComments{
        padding-bottom: 100px;
    }
    .thoseComments > .addInput{
        position: relative;
        left : 40%;
        top : -29px;
        padding-bottom: 20px;
    }
    .slideToggle {
        outline: none;
        transform: rotate(0deg);
        cursor: pointer;
        transition: 0.7s;
    }
    .slideToggle.is-closed {
        transform: translateX(-0.3em) rotate(-180deg);
    }
    .thoseIngredients {
        transition: 0.7s;
    }
    .thoseIngredients.is-closed {
        transform: translateX(275px);
    }    
}
.splitComments{
    width: 100px;
    height: 1px;
    background-color: #DAA160;
    margin-top: 20px;
    position: relative;
    left: 45%;
}
.showReciepe{
    position: relative;
    left: 44%;
}@media (max-width: 751px){
    .showReciepe{
        left: 44%;
    }
}
.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}
.comments > .author {
    margin-bottom: 20px;
    margin-top: 20px;
}
.comments > .thisComments {
    padding-left: 30px;
}

.galerie {
    margin-top:50px;  
    width: 100%;
}
.allGalerie {
    width: 100%;
}
.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.tuiles {
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 145pt;
    height: 200pt;
    border: 1px solid #DAA160;
    margin: 15px 5px;
    border-radius: 27pt;
    text-align: center;
    box-shadow: 0px 3px 6px #00000029;
}
.tuiles > .gradient {
    width: 100%;
}
@media (max-width: 751px){
    .tuiles {
        width: 125pt;
        height: 175pt;
    }
}
@media (max-width: 320px){
    .tuiles {
        width: 100pt;
        height: 100pt;
    }
}
.tuiles > .gradient > h2 {
    margin: 10px 20px;
    font-size: 16px;
}
.logoTypoMobil{
    display: none;
}@media (max-width: 751px){
    .logoTypoMobil {
        position: sticky;
        display: flex;
        justify-content: center;
        background-color: #102838;
        width: 100vw;
        box-shadow: 0px 3px 6px #00000029;
        border-bottom: #DAA160 solid 1px;
    }#logoTypoMobil{
        stroke-width: 0px;
        margin-top: 10px;
        width: 90%;
    }
}


/* ============================ FOOTER ============================ */

#smartphone {
    height: 50%;
}
.pwa{
    height: 155px;
    width: 513px;
    margin-top: 50px;
    background-color: #585243;
    border-radius: 15px;
    border:1px solid #DAA160;
    box-shadow: 0px 3px 6px #00000029;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pwa h3 {
    width: 70%;
}

.footer {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-top: 1px solid #DAA160;
    background-color: #0C1D28;
    box-shadow: 0px 3px 6px #00000029;
    width: 100vw;
    left: 0px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    z-index: 8000;
}

@media (max-width: 751px){
    .footer{
        display: none;
    }
}

.navFoot{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.titleFoot {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    width: 20%;
}

.titleFoot h4{
    width: 100%;
    font-size: 1.5em;
    font-variant: small-caps;
}
.titleFoot ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 150px;
    margin: 5px;
}
.titleFoot ul li{
    padding-left:  30px;
    margin-bottom: 10px ;
}

.splitFooter {
    width: 400px;
    height: 1px;
    background-color: #DAA160;
    margin-bottom: 20px;
}

.copyright {
    display: flex;
    font-size: 0.9em;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.buttonScroll{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -45px;
    right: -450px;
    margin-bottom: -75px;
}
@media (max-width: 1024px) {
    .buttonScroll{
        right: -340px;
    }
}

#goTop {
    fill: #DAA160;
    stroke-width: 0px;
    height: 30px;
    width: 40px;
    transform: rotate(-90deg);
}




/* ==================CONNEXION MODULE ====================== */


/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
 -webkit-box-shadow: 0 0 0 30px #0C1D28 inset !important;
 -webkit-text-fill-color: none !important;
 border: 1px solid #0C1D28;
 -webkit-text-fill-color: #0C1D28;
 -webkit-box-shadow: 0 0 0px 1000px #0C1D28 inset;
 transition: background-color 5000s ease-in-out 0s;
 outline: none !important;
}
input:-webkit-autofill{
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
 -webkit-text-fill-color: #DAA160 !important;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 431px;
    height: auto;
    padding: 20px 0px;
    border-radius: 25px;
    background: #102838;
    border: 2px solid #DAA160;
    box-shadow: 0px 0px 0px 300vw #02111ce0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
}@media (max-width: 1023px){
    .form-wrapper{
        width: 100vw;
        height: 100vh;
        border: 0px solid #DAA160;
    }
}
.wrap2 {
    box-shadow: 0px 0px 0px 0px;
}

.form-wrapper .content-wrapper {
    position: relative;
    opacity: 1;
    width: 300px;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.myFormBtn {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}
.btn-login{
    margin: 20px 00px;
    font-size: 17px;
    box-shadow: 0px 3px 10px 4px #02111ce0;
}
.form-login{
    display: flex;
    flex-direction: column;
}
.form-login input {
    background: #02111C;
    font-weight: bolder;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;  
    margin: 0 0 0 0;
}
.input-username input[value] {
    box-sizing: border-box;
    padding: 0px 20px;
}
.form-login label{
    font-size: 11px;
    margin: 20px 0px 0px 20px;
}

.form-wrapper .content-wrapper a {
    text-decoration: none;
}

#wrapper-signup {
    opacity: 0;
    pointer-events: none;
}

#wrapper-signup:target {
    opacity: 1;
    pointer-events: all;

}

#wrapper-signup:target #wrapper-login,
#wrapper-signin:target #wrapper-signup {
    opacity: 0;
    pointer-events: none;
}

#closeIt {
    position: relative;
    fill: #DAA160;
    stroke-width: 0px;
    height: 30px;

    
}

#wrapper-login {
    display: none;
}





/* ===========================PROFIL ================================ */
.profilImg {
    font-family: "Ogg", "Ogg-Roman", "Ogg Roman", serif;
    position: relative;
    width: 145pt;
    height: 145pt;
    border: 1px solid #DAA160;
    margin: 15px 5px;
    border-radius: 27pt;
    text-align: center;
    top: 30%;
    box-shadow: 0px 3px 6px #00000029;
}
.profilImg > .gradient {
    width: 100%;
}
@media (max-width: 751px){
    .profilImg {
        width: 125pt;
        height: 125pt;
        top: 50%;
    }.thisProfilImg {
        top: 0;
        width: 145pt;
        height: 145pt;
    }
}
@media (max-width: 1023px){
    .thisProfilImg {
        top: 0;
    }
}
.profilCover {
    margin-bottom: 100px;
}
#preview.myCover.thisProfilImg {
    margin-bottom: -40px;
}

.Profil{
    background-color: transparent;
    border: 0px;
    position: relative; 
    top: -10px;
    left: 70px;
    box-shadow: none;
}




/* ============================== MODAL BOX */
/* / dialog overlay */
.c-dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 2.4rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(#0C1D28, .75);
  transition: .2s;
}
.closeIt{   
    border-radius : 90px;
    width: 35px;
    height: 35px;
    position: relative;
    left: 42%;
    margin: -10px;
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
}

/* // dialog box */
.c-dialog__box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 431px;
  height: auto;
  padding: 20px 0px;
  border-radius: 25px;
  background: #102838;
  border: 2px solid #DAA160;
  box-shadow: 0px 0px 0px 300vw #02111ce0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} @media (max-width: 1023px) {
    .c-dialog__box {
        width: 100%;
        height: 100%;
    }
    .closeIt {
        left: 175px;
    }
}


/* hidden dialog */
.c-dialog[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
}
#signup, #login {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
#signup {
    display: none;
}

#change1, #change2{
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    font-size: 1em;
}