@font-face {
    font-family: 'Ogg-Roman';
    src:url('/font/Ogg-Roman.ttf') format('truetype'),
        url('2596224269750e00c3ad5356299a3b9f.eot') format('embedded-opentype'),
        url('2596224269750e00c3ad5356299a3b9f.svg') format('svg'),
        url('2596224269750e00c3ad5356299a3b9f.ttf') format('truetype'),
        url('2596224269750e00c3ad5356299a3b9f.woff') format('woff'),
        url('2596224269750e00c3ad5356299a3b9f.woff2') format('woff2');
   }

@font-face {
    font-family: 'Ogg Roman';
    src: url('2596224269750e00c3ad5356299a3b9f.eot'); /* IE9*/
    src: url('2596224269750e00c3ad5356299a3b9f.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('2596224269750e00c3ad5356299a3b9f.woff2') format('woff2'), /* chrome、firefox */
            url('2596224269750e00c3ad5356299a3b9f.woff') format('woff'), /* chrome、firefox */
            url('2596224269750e00c3ad5356299a3b9f.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url('2596224269750e00c3ad5356299a3b9f.svg#Ogg Roman') format('svg'); /* iOS 4.1- */
  }

body {
    font-family: 'Ogg-Roman', 'Ogg Roman', serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    background-color: #102838;
    color : #DAA160;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1000px;
    height: 800px;
    border: 1px solid #DAA160;
}

input {
    border: 0;
    width: 318px;
    max-width: 318px;
    height: 40px;
    border-radius: 7px;
    background-color: #0C1D28;
    margin: 0 0 0 20px;
    color: #3d3b35;
    outline: none !important;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 7px;
    background-color: #02111C;
    color: #DAA160;
    border: 0px solid #DAA160;
    outline: none !important;
    width: 100%;
    resize: none;
}
.textarea {
    width: 90%;
}

input[value] {
    font-family: 'Ogg-Roman', 'Ogg Roman', serif;
    box-sizing: border-box;
    padding: 0px 20px;
}

label{
    font-family: 'Ogg-Roman', 'Ogg Roman', serif;
    display: block;
    margin-left: 25px;
}

h2 {
    font-size : 20pt;
}

.tuiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 162pt;
    height: 228pt;
    border: 1px solid #DAA160;
    border-radius: 27pt;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 3px 6px #00000029;
}

.tuiles > h2 {
    margin: 10px 20px;
}

.whichBase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 387px;
    height: 387px;
}

.selectBase {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 96px;
    width: 96px;
    margin: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    border-radius: 27px;
    border: 1px solid #DAA160;
    background-color: #0C1D28;
    box-shadow: 0px 3px 6px #00000029;
}

.active {
    color : #0C1D28;
    background-color: #DAA160;
    border: 1px solid #DAA160;
}

button{
    width: 150px;
    height: 40px;
    margin: 20px;
    border-radius: 7px;
    background-color: #0C1D28;
    color: #DAA160;
    border: 0px solid #DAA160;  
    box-shadow: 0px 3px 6px #00000029;
    outline: none !important;
}

.userCard{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 27px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #DAA160;
    object-fit: cover;
    margin: 20px;
}
.userCard > span {
    font-size: 27px;
}

.iconCircle{
    height: 44px;
    width: 44px;
    border-radius: 44px;
    border: 1px solid #DAA160;
    box-shadow: 0px 3px 6px #00000029;
    margin: 20px;
}